<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.example.mp.test.mapper.SystemDroleNroleRelMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.example.mp.test.entity.SystemDroleNroleRel">
        <id column="REL_ID" property="relId" />
        <result column="NROLE_ID" property="nroleId" />
        <result column="DROLE_ID" property="droleId" />
        <result column="ROLE_NAME" property="roleName" />
        <result column="ROLECLASSIFYID" property="roleclassifyid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        REL_ID, NROLE_ID, DROLE_ID, ROLE_NAME, ROLECLASSIFYID
    </sql>

</mapper>
