<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.example.mp.test.web.mapper.CustomerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.example.mp.test.web.entity.Customer">
        <result column="id" property="id" />
        <result column="user_name" property="userName" />
        <result column="user_password" property="userPassword" />
        <result column="birth" property="birth" />
        <result column="sex" property="sex" />
        <result column="email" property="email" />
        <result column="mobile" property="mobile" />
        <result column="create_date" property="createDate" />
        <result column="update_date" property="updateDate" />
        <result column="description" property="description" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_name, user_password, birth, sex, email, mobile, create_date, update_date, description
    </sql>

</mapper>
