<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.example.mp.test.web.mapper.SystemOrgMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.example.mp.test.web.entity.SystemOrg">
        <id column="ID" property="id" />
        <result column="ORG_ID" property="orgId" />
        <result column="ORG_NAME" property="orgName" />
        <result column="UPORG" property="uporg" />
        <result column="AREA_CODE" property="areaCode" />
        <result column="ADDRESS" property="address" />
        <result column="POST_CODE" property="postCode" />
        <result column="LINK_MAN" property="linkMan" />
        <result column="LINK_MODE" property="linkMode" />
        <result column="OTHER_LINK_MODE" property="otherLinkMode" />
        <result column="REMARK" property="remark" />
        <result column="RECORD_STOP_FLAG" property="recordStopFlag" />
        <result column="RECORD_STOP_TIME" property="recordStopTime" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="UPDATE_TIME" property="updateTime" />
        <result column="OPERATOR" property="operator" />
        <result column="OPR_NICKNAME" property="oprNickname" />
        <result column="CORPORATE_FLAG" property="corporateFlag" />
        <result column="CORPORATE_ID" property="corporateId" />
        <result column="EXT1" property="ext1" />
        <result column="EXT2" property="ext2" />
        <result column="EXT3" property="ext3" />
        <result column="EXT4" property="ext4" />
        <result column="EXT5" property="ext5" />
        <result column="EXT6" property="ext6" />
        <result column="EXT7" property="ext7" />
        <result column="EXT8" property="ext8" />
        <result column="EXT9" property="ext9" />
        <result column="EXT10" property="ext10" />
        <result column="EXT11" property="ext11" />
        <result column="EXT12" property="ext12" />
        <result column="EXT13" property="ext13" />
        <result column="EXT14" property="ext14" />
        <result column="EXT15" property="ext15" />
        <result column="EXT16" property="ext16" />
        <result column="EXT17" property="ext17" />
        <result column="EXT18" property="ext18" />
        <result column="EXT19" property="ext19" />
        <result column="EXT20" property="ext20" />
        <result column="EXT21" property="ext21" />
        <result column="EXT22" property="ext22" />
        <result column="EXT23" property="ext23" />
        <result column="EXT24" property="ext24" />
        <result column="EXT25" property="ext25" />
        <result column="EXT26" property="ext26" />
        <result column="EXT27" property="ext27" />
        <result column="EXT28" property="ext28" />
        <result column="EXT29" property="ext29" />
        <result column="EXT30" property="ext30" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, ORG_ID, ORG_NAME, UPORG, AREA_CODE, ADDRESS, POST_CODE, LINK_MAN, LINK_MODE, OTHER_LINK_MODE, REMARK, RECORD_STOP_FLAG, RECORD_STOP_TIME, CREATE_TIME, UPDATE_TIME, OPERATOR, OPR_NICKNAME, CORPORATE_FLAG, CORPORATE_ID, EXT1, EXT2, EXT3, EXT4, EXT5, EXT6, EXT7, EXT8, EXT9, EXT10, EXT11, EXT12, EXT13, EXT14, EXT15, EXT16, EXT17, EXT18, EXT19, EXT20, EXT21, EXT22, EXT23, EXT24, EXT25, EXT26, EXT27, EXT28, EXT29, EXT30
    </sql>

</mapper>
